* {
  box-sizing: border-box;
}

body{
    width:100vw;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

#board{
    width: 330px;
    height: 430px;
    overflow: hidden;
    padding-top: 100px;
    z-index: 1;
}

h2{
    width: calc(50% - 165px);
    text-align: center;
}

#scorebox{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
.playerOne{
    width: 25%;
}

.playerTwo{
    width: 25%;
}

.square {
    float: left;
    position: relative;
    width: 100px;
    height: 100px;
    margin: 5px;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    background-color: blue;
    border-radius: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 65px;
    border-color: red;
    border-width: 5px;
}

.square:hover{
    background-color: red;
}

.square.player-X{
    color: white;
    background-image: url('http://i.imgur.com/WIIh1xY.png');
    background-size: cover;
    background-color: white;
}
.square.player-O{
    color: white;
    background-image: url('http://i.imgur.com/HuTpMJY.png');
    background-size: cover;
    background-color: white;
}

li{
  position: absolute;
  list-style: none;
  display: inline-block;
  width:100px;
  height:150px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

#modal{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

img{
  width: 250px;
  height: auto;
}

input {
  text-align: center;
  height: auto;
  width: auto;
  font-size: 22px;
  padding: 10px;
}

input:focus{
outline: none;
}
